/* header */
.header {
  height: 120px;
  background-image: linear-gradient(0, #fe6433, #f53e2d);
  padding: 0 1rem;
}
.header__navbar {
  display: flex;
  justify-content: space-between;
}
.header__navbar-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 7px;
}
.header__navbar-item {
  margin: 0 8px;
  position: relative;
}
.header__navbar-item,
.header__navbar-item-link {
  font-size: 1.3rem;
  color: var(--while-color);
  text-decoration: none;
  font-weight: 300;
  display: inline-flex;
  align-items: center;
}
.header__navbar-item--bold {
  font-size: 1.6rem;
  font-weight: 400;
}
.header__navbar-item-link:hover {
  opacity: 0.7;
}
.header__navbar-item--bold:hover {
  opacity: 0.8;
  cursor: pointer;
}
.header__navbar-item--separation:hover {
  cursor: pointer;
}
.header__navbar-item--separation::after {
  content: "";
  display: block;
  position: absolute;
  height: 16px;
  border-left: 2px solid #fb9086;
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
}
.header__navbar-icon-link {
  color: var(--while-color);
  text-decoration: none;
  margin-left: 3px;
}
.header__navbar-icon {
  font-size: 1.8rem;
  margin: 0 4px;
}

.header__navbar-icon:hover {
  opacity: 0.8;
}

/* qr-code */
.header-qr {
  width: 186px;
  position: absolute;
  left: 0;
  top: 155%;
  padding: 8px;
  background-color: var(--while-color);
  border-radius: 2px;
  display: none;
  z-index: 1;
}
.header-qr-image {
  width: 100%;
}
.header-qr-list {
  display: flex;
  justify-content: space-between;
}
.header-qr-item {
  height: 16px;
}
.header-qr-link:first-child {
  margin-left: 11px;
}
.header-qr-link:last-child {
  margin-right: 11px;
}
.header__navbar-item--separation:hover .header-qr {
  cursor: pointer;
  display: block;
  animation: fadeIn ease 0.7s;
}
.header-qr::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  top: -13px;
  height: 20px;
}

/* notify-code */
.header-notify {
  border: rgb(232, 230, 230) solid 1px;
  position: absolute;
  background-color: var(--while-color);
  top: 150%;
  right: 0;
  width: 404px;
  display: none;
  z-index: 1;
}
.header-notify::before {
  cursor: pointer;
  content: "";
  border-width: 23px 22px;
  border-style: solid;
  display: block;
  border-color: transparent transparent var(--while-color) transparent;
  position: absolute;
  right: 20px;
  top: -35px;
}
.header-notify-heading {
  color: #999;
  padding: 12px;
  font-weight: 400;
  font-size: 14px;
}
.header-notify-viewer {
  background-color: rgba(238, 75, 43, 0.09);
}
.header-notify-body {
  padding-left: 0;
}
.header-notify-info {
  display: flex;
  text-decoration: none;
  padding-bottom: 5px;
}
.header-notify-info:hover {
  background-color: #f7f7f7;
}
.info-img {
  width: 48px;
  padding-left: 8px;
  object-fit: contain;
}
.header-notify-message-title {
  color: #333;
  display: block;
  margin: 0 8px 8px;
  font-weight: 500;
  font-size: 14px;
  margin-top: 10px;
}
.header-notify-message-content {
  color: #999;
  display: block;
  margin: 0 8px;
  font-weight: 400;
}
.header__navbar-item:hover .header-notify {
  display: block;
  transform-origin: calc(100% - 20px) top;
  animation: headerNotifyGrow ease-in 0.2s;
}
.header-notify::after {
  cursor: pointer;
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  right: 0;
  top: -30px;
  height: 30px;
}
.header-notify-footer {
  text-decoration: none;
}
.header-notify-footer-content {
  padding: 10px 0;
  color: #999;
  width: 100%;
  text-align: center;
}
/* notify-code */

/* header__search */
.header__search {
  height: var(--header-search);
  margin-left: 5px;
  display: flex;
  align-items: center;
}
.header__search-icon {
  width: 130px;
  margin-right: 65px;
  margin-bottom: 12px;
  cursor: pointer;
}
.header__search-searchBtn {
  flex: 1;
  height: 40px;
  background-color: var(--while-color);
  border-radius: 2px;
  display: flex;
}
.searchBtn-input {
  border: none;
  flex: 1;
  height: 100%;
  font-size: 1.4rem;
  padding: 0 16px;
  border-radius: 2px;
  outline: none;
}
.searchIcon {
  background-color: var(--primary-color);
  border: none;
  height: 36px;
  margin-top: 1.8px;
  min-width: 70px;
  margin-right: 2px;
}
.searchIcon:hover {
  cursor: pointer;
  opacity: 0.9;
}
.searchIcon-icon {
  font-size: 1.4rem;
  color: var(--while-color);
}
.header__search-cart {
  width: 150px;
  text-align: center;
  position: relative;
}
.header__search-cart-icon {
  font-size: 2rem;
  color: var(--while-color);
}
.header__search-cart-icon {
  cursor: pointer;
}
/* header__search */

/* cart hover code */
.cart__body-img {
  width: 60%;
  margin-top: 18px;
}
.cart__body-nocart {
  display: block;
  margin-top: 24px;
  font-size: 1.2rem;
}
.cart__body {
  position: absolute;
  width: 400px;
  height: 230px;
  border: 1px solid rgb(239, 237, 237);
  top: 32px;
  right: 55px;
  border-radius: 2px;
  display: none;
  background-color: #fff;
}
.cart__body::before {
  cursor: pointer;
  content: "";
  display: block;
  border-style: solid;
  border-width: 19px 18px;
  border-color: transparent transparent var(--while-color) transparent;
  right: 0px;
  top: -28px;
  position: absolute;
}
.header__search-cart:hover .cart__body {
  display: block;
  transform-origin: calc(100% - 20px) top;
  z-index: 1;
  animation: headerNotifyGrow ease-in 0.2s;
}
/* cart hover code */
/* header */

/* container */
.container-content {
  padding-top: 32px;
  background-color: #f5f5f5;
}
/* category */
.category {
  background-color: #f5f5f5;
}
.categoty__heading {
  margin-top: 0;
  padding: 20px 24px;
  font-size: 1.6rem;
  font-weight: 500;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.categoty__heading-icon {
  margin-right: 8px;
}
.category__list {
  list-style-type: none;
}
.category__list-item {
  position: relative;
  font-size: 1.4rem;
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.category__list-item-link {
  position: relative;
  text-decoration: none;
  color: #333;
  padding-left: 10px;
  transition: right linear 0.1s;
  right: 0;
}
.category__list-item-link:hover {
  right: -4px;
  color: var(--primary-color);
}
/* category */

/* home */
.home-heading {
  padding-left: 16px;
  display: flex;
  align-items: center;
  height: 60px;
  background-color: #ededed;
  display: none;
}
.home-heading__sort {
  margin-right: 16px;
  font-size: 1.4rem;
}
.btn_home-heading {
  border: 1px solid rgb(234, 228, 228);
  padding: 8px 14px;
  font-size: 1.3rem;
  margin-right: 8px;
  background-color: #fff;
  border-radius: 2px;
  cursor: pointer;
}
.home-heading-value {
  min-width: 180px;
  height: 32px;
  background-color: #fff;
  display: flex;
  border: 1px solid rgb(234, 228, 228);
  border-radius: 2px;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  font-size: 1.3rem;
  position: relative;
  cursor: pointer;
}
.value-list {
  position: absolute;
  top: 31px;
  width: 180px;
  left: -1px;
  background: #fff;
  border: 1px solid rgb(234, 228, 228);
  border-radius: 2px;
  z-index: 10;
  display: none;
}
.value-list-item {
  display: block;
  text-decoration: none;
  padding: 12px 16px;
  color: #000;
}
.value-list-item:hover {
  color: var(--primary-color);
}
.home-heading-value:hover .value-list {
  display: block;
  animation: fadeIn ease 0.3s;
}
.home-heading-page {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.page-number {
  font-size: 1.3rem;
  margin-right: 22px;
}
.page-current {
  color: var(--primary-color);
}

.page-next-back {
  display: flex;
  border-radius: 2px;
  width: 72px;
  height: 36px;
  margin-right: 16px;
}
.pagedh {
  flex: 1;
  background-color: var(--while-color);
  display: flex;
  text-decoration: none;
}
.page-icon {
  margin: auto;
}
.page-back {
  border-right: 1px solid rgba(0, 0, 0, 0.05);
}
.page-icon-left {
  color: rgb(193, 189, 189);
}
/* home */

/* product */
.home--product-item {
  margin-top: 10px;
  background-color: var(--while-color);
  font-size: 1.3rem;
  font-weight: 400;
  /* border: 1px solid rgba(221, 218, 218, 0.05); */
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  transition: transform ease-in 0.1s;
  will-change: transform;
}
.home--product-item:hover {
  transform: translateY(-1px);
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.05);
}
.home--product-item-link {
  text-decoration: none;
  color: var(--text-color);
}
.product-item-img {
  padding-top: 100%;
  background-size: contain;
}
.product-item-body {
  margin: 10px;
}
.product-item-content {
  line-height: 1.8rem;
  height: 3.6rem;
  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.product-item-Pcontent {
  margin: 0;
}
.product-item-special {
  border: 1px solid #f53e2d;
  max-width: max-content;
  text-align: center;
  padding: 0 1px;
}
.product-item-Fcontent {
  margin: 0;
  color: var(--primary-color);
}

.product-item-price {
  margin-top: 10px;
}
.price-old {
  font-size: 1.2rem;
  color: #666;
  text-decoration: line-through;
}
.price-current {
  font-size: 1.4rem;
  color: var(--primary-color);
}
.shopee-svg-icon {
  float: right;
}
.product-item-like {
  margin-top: 10px;
  font-size: 1.3rem;
}
.product-item-like i {
  font-size: 0.8rem;
  color: #ffce3d;
}
.product-item-sold {
  padding-left: 4px;
}
.product-item-place {
  padding: 8px 0;
}
.product-item-origin {
  font-weight: 400;
}

.home--product-mall {
  position: absolute;
  top: 10px;
  left: -4px;
  background-color: #d0011b;
  color: var(--while-color);
  font-size: 1rem;
  padding: 0 4px;
}
.home--product-mall::after {
  content: "";
  position: absolute;
  border-top: 3px solid #d0011b;
  border-left: 3px solid transparent;
  filter: brightness(60%);
  left: 0;
  bottom: -3px;
}
.home--product-sale {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 33px;
  background-color: rgba(255, 212, 36, 0.9);
  text-align: center;
}
.home--product-sale::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 0 20px 6px;
  border-color: transparent rgba(255, 212, 36, 0.9) transparent
    rgba(255, 212, 36, 0.9);
  left: 0;
  bottom: -6px;
}
.product-sale-number {
  font-size: 1.2rem;
  color: var(--primary-color);
  font-weight: 400;
}
.product-sale-label {
  font-size: 1.3rem;
  color: var(--while-color);
}
/* product */

/* pagination */
.pagination {
  margin: 32px 0 162px;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}
.pagination-item {
  padding-left: 0;
  margin: 0 16px;
}
.pagination-item--active .pagination-item-link {
  background-color: #d0011b;
  color: var(--while-color);
}
.pagination-item-link {
  display: block;
  text-decoration: none;
  color: #a1a2a0;
  font-size: 1.8rem;
  min-width: 40px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 2px;
}
.pagination-item--active:hover {
  opacity: 0.7;
}
/* pagination */
/* container */

/* footer */
.footer {
  border-top: 4px solid #d51f36;
}
.footer__heading {
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.54);
  margin-top: 32px;
}
.footer__heading-list {
  padding-left: 0;
}
.footer__heading-list-item {
  font-size: 1.2rem;
  list-style-type: none;
  line-height: 26px;
  display: flex;
  align-items: center;
}
.footer__heading-list-item:hover .footer-item-link {
  color: #ee4d2d;
}
.footer-item-link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.54);
}

.footer-item-icon {
  font-size: 1.8rem;
  margin-right: 10px;
}

.footer__download {
  display: flex;
}
.footer__img-qr {
  width: 84px;
  height: 84px;
  border: 1px solid rgba(0, 0, 0, 0.09);
  margin-right: 15px;
}
.footer__download-apps {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.footer__apps-item {
  width: 80px;
  height: 20px;
}

/* subfooter */
.subfooter {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
  width: 100%;
  justify-content: space-between;
  padding: 24px 0;
}
.subfooter-body {
  display: flex;
  align-items: center;
}
.subfooter-img {
  width: 50px;
  height: 50px;
  margin-right: 12px;
}
.subfooter-content {
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.54);
  font-weight: 400;
}
.subfooter-content-num {
  display: block;
}
/* subfooter */
/* footer */
